@media (max-width: 455px) {
  .feed {
    width: 100vw;
  }

  .header {
    font-size: 20px;
  }

  .new-post {
    width: 100%;
    border-radius: 0;
    border-left: unset;
    border-right: unset;
  }

  .post-input {
    width: 250px;
  }

  .post {
    width: 100%;
    border-radius: 0;
    border-left: unset;
    border-right: unset;
  }

  .post-image {
    width: 100%;
  }

  .post-text {
    width: 90vw;
  }
}

@media (max-width: 375px) {
  .post-input {
    width: 230px;
  }
}

@media (max-width: 330px) {
  .post-input {
    width: 200px;
    font-size: 14px;
  }
}