.container-coracao {
  position: absolute;
  display: flex;
  top: 50%;
  left: calc(50% - 50px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadein 0.5s;
}

.coracao {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 1000;
}

@keyframes fadein {
  0% {
    top: 60%;
  }
  30% {
    top: 50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

.coracao__lado-direito {
  opacity: 0;
  position: absolute;
  height: 90px;
  width: 75px;
  background-color: rgb(255, 0, 85);
  z-index: 1000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50px;
  transform: rotate(60deg) translateX(40px);
}

.coracao__lado-esquerdo {
  opacity: 0;
  position: absolute;
  height: 90px;
  width: 75px;
  background-color: rgb(255, 0, 85);
  z-index: 10000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50px;
  transform: rotate(-60deg) translateX(-40px);
}

.coracao__lado-direito,
.coracao__lado-esquerdo {
  animation: fadeout 0.5s;
}
