<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/timeline.css" />
    <link rel="stylesheet" href="../css/imgs-curtidas.css" />
    <link rel="stylesheet" href="../css/responsiveTimeline.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="logo"><a href="../index.html">DirectLine</a></div>
      <div class="header-lado-direito">
        <div class="btn-img-curtidas">
          <a href="imgs-curtidas.html">Imagens curtidas</a>
        </div>
      </div>
    </header>
    <div class="galeria">
      <p class="img">Essa parte está em construção!, volte mais tarde</p>
    </div>
  </body>
</html>
